In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/final-123/movies1.csv
/kaggle/input/final-123/ratings.csv/ratings.csv

In [4]:
movies_df = pd.read_csv('../input/final-123/movies1.csv')
ratings_df = pd.read_csv('../input/final-123/ratings.csv/ratings.csv')

In [5]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year']

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
          ...
10324    (2015)
10325    (1966)
10326    (2015)
10327    (2015)
10328    (2015)
Name: year, Length: 10329, dtype: object

In [7]:
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
10324    2015
10325    1966
10326    2015
10327    2015
10328    2015
Name: year, Length: 10329, dtype: object

In [8]:
movies_df['title']

0                           Toy Story (1995)
1                             Jumanji (1995)
2                    Grumpier Old Men (1995)
3                   Waiting to Exhale (1995)
4         Father of the Bride Part II (1995)
                        ...
10324          Cosmic Scrat-tastrophe (2015)
10325             Le Grand Restaurant (1966)
10326         A Very Murray Christmas (2015)
10327                   The Big Short (2015)
10328    Marco Polo: One Hundred Eyes (2015)
Name: title, Length: 10329, dtype: object

In [9]:
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0                           Toy Story
1                             Jumanji
2                    Grumpier Old Men
3                   Waiting to Exhale
4         Father of the Bride Part II
                     ...
10324          Cosmic Scrat-tastrophe
10325             Le Grand Restaurant
10326         A Very Murray Christmas
10327                   The Big Short
10328    Marco Polo: One Hundred Eyes
Name: title, Length: 10329, dtype: object

In [10]:
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [11]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [12]:
movies_df = movies_df.drop('genres', 1)
movies_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [13]:
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

   userId  movieId  rating
0       1       16     4.0
1       1       24     1.5
2       1       32     4.0
3       1       47     4.0
4       1       50     4.0

In [14]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [15]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year', 1)

inputMovies

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [21]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
15        1      296     4.0
113       2        1     5.0
166       3      296     5.0
220       4      296     4.0
339       5        1     4.0

In [26]:
userSubsetGroup = userSubset.groupby(['userId'])

In [29]:
userSubsetGroup.get_group(339)

       userId  movieId  rating
47438     339        1     5.0
47491     339     1968     3.0

In [30]:
len(userSubsetGroup.get_group(339))

2

In [31]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [32]:
userSubsetGroup[0]

(62,
       userId  movieId  rating
 5535      62        1     2.0
 5536      62        2     1.5
 5604      62      296     5.0
 5760      62     1274     3.5
 5857      62     1968     1.0)

In [33]:
userSubsetGroup[0][0]

62

In [34]:
userSubsetGroup[0][1]

      userId  movieId  rating
5535      62        1     2.0
5536      62        2     1.5
5604      62      296     5.0
5760      62     1274     3.5
5857      62     1968     1.0

In [35]:
userSubsetGroup = userSubsetGroup[0:100]

In [38]:
pearsonCorrelationDict = {}


for name, group in userSubsetGroup:
    
    
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    
    
    nRatings = len(group)
    
    
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    
    
    tempRatingList = temp_df['rating'].tolist()
    
    
    tempGroupList = group['rating'].tolist()
    
    
    
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/np.sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [39]:
pearsonCorrelationDict.items()

dict_items([(62, 0.44965838938680786), (122, 0.8770580193070289), (224, 0.29417420270727607), (409, 0.8056292332943623), (451, 0.6564386345361464), (461, 0.11720180773462363), (567, 0.8320502943378437), (590, 0.6933752452815365), (607, 0.6020183016345586), (627, 0.7240929464269849), (38, 0.5222329678670935), (88, 0.0), (109, -0.47140452079103173), (128, 0.8866206949335731), (164, 0.4923659639173309), (176, 0.592156525463792), (177, 0.0), (192, -0.51425947722658), (220, 0.30151134457776363), (232, 0.8703882797784892), (250, 0.899228803025897), (310, 0.9438798074485389), (328, -0.7302967433402214), (354, 0.8181818181818182), (358, 0.6446583712203042), (387, 0.45454545454545453), (410, 0.8528028654224418), (413, 0.899228803025897), (493, 0.5222329678670935), (501, 0.4082482904638631), (555, 0.8017837257372732), (560, 0), (603, -0.3779644730092272), (628, 0.8703882797784892), (632, 0.2075143391598224), (668, 0.5222329678670935), (29, 0), (31, -0.8660254037844402), (32, 0.8660254037844402), (44, 0.9449111825230699), (50, -0.9999999999999998), (105, 0.0), (107, 0.8660254037844387), (108, 0), (110, 0.5000000000000009), (113, -0.5000000000000036), (114, 0.18898223650461146), (130, 0.7559289460184538), (137, 0.5000000000000036), (156, 0.5), (158, 1.0), (160, -0.5000000000000009), (179, -0.3273268353539886), (213, 1.0), (218, 0.5), (228, 0.9878291611472599), (234, 0.8660254037844387), (235, 0.0), (236, -0.5000000000000036), (242, 0.0), (244, 0), (292, 0), (296, 0.7559289460184538), (299, 0.0), (303, -0.18898223650461315), (337, -0.8029550685469665), (352, -0.5), (376, 0.9449111825230684), (386, -0.3273268353539889), (389, 0.5000000000000009), (399, 0), (402, -0.18898223650461146), (403, -0.49999999999999506), (405, 0.8660254037844402), (422, -0.24019223070763068), (425, 0.5), (453, 0), (458, 0.2773500981126147), (460, -0.8029550685469662), (469, 0.18898223650461146), (484, -1.0000000000000018), (495, -0.5000000000000009), (511, 0.0), (528, -0.1889822365046138), (530, 0.5000000000000009), (542, 0.3273268353539889), (554, 0.8660254037844402), (561, -0.4999999999999982), (568, 0), (575, -0.8029550685469664), (584, -0.5000000000000009), (597, -0.4999999999999982), (600, 0.5000000000000009), (605, 0.5000000000000009), (615, 0.987829161147262), (655, 0.0), (662, 0), (16, 0), (17, -1.0), (22, -1.0)])

In [40]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.head()

            0
62   0.449658
122  0.877058
224  0.294174
409  0.805629
451  0.656439

In [41]:
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.449658      62
1         0.877058     122
2         0.294174     224
3         0.805629     409
4         0.656439     451

In [42]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
50         1.000000     158
53         1.000000     213
94         0.987829     615
55         0.987829     228
39         0.944911      44

In [43]:
topUsersRating = topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0     158        1     4.5
1              1.0     158        2     4.0
2              1.0     158        6     4.5
3              1.0     158       10     4.0
4              1.0     158       32     4.0

In [44]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     158        1     4.5             4.5
1              1.0     158        2     4.0             4.0
2              1.0     158        6     4.5             4.5
3              1.0     158       10     4.0             4.0
4              1.0     158       32     4.0             4.0

In [45]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  30.930292          115.143135
2                  27.603656           85.617531
3                   5.268273           16.472588
4                   1.255929            3.767787
5                   5.531023           17.606041

In [46]:
recommendation_df = pd.DataFrame()

recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.722666        1
2                                     3.101674        2
3                                     3.126753        3
4                                     3.000000        4
5                                     3.183144        5

In [47]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
27366                                      5.0    27366
1099                                       5.0     1099
897                                        5.0      897
101529                                     5.0   101529
68522                                      5.0    68522

In [48]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(20)['movieId'].tolist())]

      movieId                                              title  year
718       897                            For Whom the Bell Tolls  1943
895      1099                                 Christmas Carol, A  1938
996      1236                                              Trust  1990
1486     1914                                      Smoke Signals  1998
1768     2227             Lodger: A Story of the London Fog, The  1927
3485     4454                                               More  1998
4888     6672                                   War Photographer  2001
5152     7075                                  Court Jester, The  1956
5244     7215                               To Have and Have Not  1944
5258     7234                                         Strada, La  1954
6307    27366    Werckmeister Harmonies (Werckmeister harmóniák)  2000
7634    58078                                 Air I Breathe, The  2007
7742    59810                                            Recount  2008
7868    62049                                               1984  1956
7897    62644                             Wave, The (Welle, Die)  2008
7973    65188   Dear Zachary: A Letter to a Son About His Father  2008
8102    68522                                              Earth  2007
9634   101529                                  Brass Teapot, The  2012
9641   101862  50 Children: The Rescue Mission of Mr. And Mrs...  2013
9754   104177                        From One Second to the Next  2013